{% extends 'todo/base.html' %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                <h1>Login</h1>
                 <h2>{{ error }}</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <br>

            </div>

        </div>
        <div class="text-center">
            No have account? <a href="{% url 'signupuser' %}">Sign Up here</a>
        </div>
    </div>





{% endblock %}