{% extends 'todo/base.html' %}
{% block content %}
    {{ error }}

    <h1>viwetodo</h1>


    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">save</button>
    </form>


    <form method="POST" action="{% url 'completetodo' todo.id %}">
        {% csrf_token %}
        <button type="submit">complete</button>
    </form>


    <form method="POST" action="{% url 'deletetodo' todo.id %}">
        {% csrf_token %}
        <button type="submit">delete</button>
    </form>


{% endblock %}